<h1 align="center">Welcome to <%= @user.name %>'s page</h1>

<h4 align="center"><%= @user.name %>'s articles</h4>

<div class="d-flex justify-content-center">
	<%= will_paginate @user_articles %>
</div>

<%= render 'articles/article', obj: @user_articles %>

<div class="d-flex justify-content-center">
	<%= will_paginate @user_articles %>
</div>